@import url('https://fonts.googleapis.com/css?family=Advent+Pro|Open+Sans');

html {
  font-family: 'Open Sans', sans-serif;
  font-size: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: var(--spacing-none, 0); /* .ma0 */
  font-family: 'Open Sans', sans-serif;
  font-weight: 500;
  line-height: var(--line-height-copy);
}

p {
  margin: var(--spacing-none, 0); /* .ma0 */
}

.headline {
  font-size: var(--font-size-headline);
}
.subheadline {
  font-size: var(--font-size-subheadline);
}
.logo {
  font-size: var(--font-size-logo);
}

h1 {
  font-size: var(--font-size-6);
}
h2 {
  font-size: var(--font-size-5);
}
h3 {
  font-size: var(--font-size-4);
}
h4 {
  font-size: var(--font-size-3);
}
h5 {
  font-size: var(--font-size-2);
}
h6 {
  font-size: var(--font-size-1);
}
