@import 'tachyons/custom.css';
@import '__palette.css';
@import '__variables.css';
@import '_skins.css';
@import '_typography.css';
@import '_utility.css';

html,
body,
#appWrapper,
#appContainer,
.page {
  width: 100%; /* .w-100 */
  height: 100%; /* .h-100 */
  padding: var(--spacing-none, 0); /* .pa0 */
  margin: var(--spacing-none, 0); /* .ma0 */
}

#appWrapper {
  background-color: var(--light-purple, #a463f2); /* .bg-light-purple */
  padding: var(--spacing-none, 0); /* .pa0 */
  margin: var(--spacing-none, 0); /* .ma0 */
}
