.PoolTracker {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-gap: var(--spacing-extra-extra-small);
  margin: var(--spacing-none);
  padding: var(--spacing-extra-extra-small);
  background-color: var(--black-20);

  & > * {
    border: thin solid var(--dark-purple, black);
    background-color: var(--white-40);
    border-radius: var(--border-radius-3);
  }

  & > header {
    padding-left: var(--spacing-small);
    padding-right: var(--spacing-small);

    & > h1 {
      font-size: var(--font-size-3);
    }
  }
}

.Pool {
  display: grid;
  grid-gap: var(--spacing-extra-extra-small);
  grid-template-columns: 2fr repeat(4, 1fr);

  & > * {
    align-self: center;
  }
  & > header {
    padding-left: var(--spacing-extra-small, 0.25rem);
    padding-right: var(--spacing-extra-small, 0.25rem);

    & > h2 {
      font-size: var(--font-size-2);
    }
  }
}

.Worker {
  color: var(--near-white);
  padding: var(--spacing-extra-small, 0.25rem);
  font-size: var(--font-size-3);
  & > svg.icon {
    font-size: var(--font-size-4);
  }
}

.WorkerCount {
  color: var(--white-90);
  background-color: var(--transparent);
  font-weight: bold;
}

.gameTitle {
}

.bar {
  order: 4;
}

.dead {
  order: 3;
}

.discard {
  order: 1;
}

.draw {
  order: 5;
}

.reserve {
  order: 2;
}
