.PoolTracker {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-content: center;
  align-items: center;
  margin: calc(-1 * var(--spacing-extra-small));

  & > * {
    border: thin solid var(--dark-purple, black);
    background-color: var(--white-40);
    border-radius: var(--border-radius-3);
    margin: var(--spacing-extra-small);
  }

  & > header {
    padding-left: var(--spacing-small);
    padding-right: var(--spacing-small);

    & > h1 {
      font-size: var(--font-size-3);
    }
  }
}

.Pool {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-content: flex-start;
  align-items: center;

  & > header {
    padding-left: var(--spacing-extra-small, 0.25rem); /* .ph1 */
    padding-right: var(--spacing-extra-small, 0.25rem);

    & > h2 {
      font-size: var(--font-size-2);
    }
  }
}

.Worker {
  flex: 0 1 auto;
  padding: var(--spacing-extra-small, 0.25rem); /* .pa1 */
  font-size: var(--font-size-3); /* .f5 */
  & > svg.icon {
    font-size: var(--font-size-4);
  }
}

.WorkerCount {
  color: var(--black, #000); /* .black */
  background-color: var(--transparent); /* .bg-transparent */
  font-weight: bold; /* .b */
}

.gameTitle {
}

.bar {
  order: 4;
}

.dead {
  order: 3;
}

.discard {
  order: 1;
}

.draw {
  order: 5;
}

.reserve {
  order: 2;
}
