.GameTable {
  width: 100%; /* .w-100 */
  height: 100%; /* .h-100 */
  display: grid;
  grid-gap: var(--spacing-extra-small);
  padding: var(--spacing-extra-small, .25rem); /* .pa1 */
  grid-template-rows: 1fr 2fr 2fr 1fr;
  grid-template-columns: 1fr 3fr 1fr;

  & > * {
    background-color: var(--white-10, rgba(255, 255, 255, .1)); /* .bg-white-10 */
    border-radius: var(--border-radius-3, .5rem); /* .br3 */
    border: 2px solid var(--near-black); /* .ba */
  }
}
.poolTracker {
  grid-row: 1;
  grid-column: 2;
}

.player1 {
  grid-row: 1 / span 2;
  grid-column: 1;
}

.player2 {
  grid-row: 3 / span 2;
  grid-column: 1;
}

.player3 {
  grid-row: 1 / span 2;
  grid-column: 3;
}

.player4 {
  grid-row: 3 / span 2;
  grid-column: 3;
}
